body, html{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
     overflow-x: hidden;
    overflow-y: auto;
}


.logo{
    width: 57px;
 
}

i{
    cursor: pointer;
}


 
.meal {
  overflow: hidden;
}

.meal-layer {

  width: 100%;
  height: 100%;
  top: 100%; 
  left: 0;
  background-color: rgba(249, 246, 246, 0.8);
  transition: 0.5s;

  
}


.meal:hover .meal-layer {
  top: 0;
}

.side-nav-menu {
    transform: translateX(-250px); 
    transition: transform 0.5s ease;
}

.side-nav-menu.open {
    transform: translateX(0); 
}

.nav-tab {
    background-color: #0D0D0D;
    width: 250px;
}

.nav-header {
    background-color: white;
    color: black;
    width: 70px;

}



.nav-tab ul li {
    position: relative;
}


.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 999;
    display: flex;
} 

 .inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}

.form-control::placeholder{
    color: #b3b2b2;
}

#simpleToast {
    visibility: hidden;
 width: 25%;
    background-color: yellow; 
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
  
}

#simpleToast.show {
    visibility: visible;
    opacity: 1;
}



/** media qeury **/

@media (max-width: 768px) {
  .home-page {
    margin-left: 70px;
    width: calc(100% - 70px);
  }
}
